@model IEnumerable<Web>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ServiceCard Table</h4>
                <a class="btn btn-success" asp-controller="Web" asp-action="Create">Create</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>ImageUrl</th>
                                <th>Title</th>
                                <th>Setting</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ImageUrl</td>
                                    <td>@item.Title</td>
                                    <td>
                                        <a class="btn btn-primary" asp-controller="Web" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" asp-controller="Web" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        <a class="btn btn-info" asp-controller="Web" asp-action="Detail" asp-route-id="@item.Id">Detail</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



