@model HomeVM
<main>
    <section id="page-intro">
        <div class="container">
            <div class="row">
                <div class="intro-image">
                    <img src="~/assets/img/@Model.pageIntro.ImageUrl" />
                </div>
                <div class="intro-title">
                    <h1>@Model.pageIntro.Title</h1>
                    <p>@Model.pageIntro.Description</p>
                </div>
            </div>
        </div>
    </section>

    <section id="what-is">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="~/assets/img/@Model.what.ImageUrl" />
                </div>
                <div class="col-6">
                    <h1>@Model.what.Title</h1>
                    <p>@Model.what.Description1</p>
                    <p>@Model.what.Description2</p>
                </div>
            </div>
        </div>
    </section>

    <section id="card">
        <div class="container">
            <div class="row">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var item in Model.card)
                    {
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-image">
                                    <img src="~/assets/img/@item.ImageUrl" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                    <h4>@item.subTitle</h4>
                                    <p class="card-text">
                                        @item.Description
                                    </p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>

    <section id="web-card">
        <div class="container">
            <div class="row">
                <div class="row row-cols-1 row-cols-md-4 g-4">
                    @foreach (var item in Model.web)
                    {
                        <div class="col">
                            <div class="card h-100">
                                <div class="web-image">
                                    <img src="~/assets/img/@item.ImageUrl" class="card-img-top" alt="...">

                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Title</h5>
                                    <p class="card-text">@item.Description</p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>

    <section id="contact-us">
        <div class="container">
            <div class="row">
                <div class="title">
                    <h1>CONTACT US</h1>
                </div>
                <div class="col-6">
                    <div class="contact-title">
                        <p>We are bunch of open minded people. So, we are really keen to know what you're thinking of our work.</p>
                        <p>Furthermore, if you're having some sort of work that we can assist you, a design project, web site, branding project... anything that matching our skill profile, send us a mail using below form. We will get back to you soon!Furthermore, if you're having some sort of work that we can assist you, a design project, web site, branding project... anything that matching our skill profile, send us a mail using below form. We will get back to you soon!</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fab facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab twitter footer-social-icon fa-twitter"></i></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab google footer-social-icon fa-google"></i></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab apple footer-social-icon fa-apple"></i></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <form id="contact-form" class="form-horizontal" role="form">

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                            </div>
                        </div>

                        <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>

                        <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                            <div class="alt-send-button">
                                <i class="fa fa-paper-plane" style="color: white;"></i><span class="send-text">SEND</span>
                            </div>

                        </button>

                    </form>
                </div>
            </div>
        </div>
    </section>
</main>